<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="text/css" href="{{ url_for('static', filename='favicon.ico') }}"  />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}"  />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='modal.css') }}"  />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tab.css') }}"  />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dropdown.css') }}"  />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slider.css') }}"  />
        <link rel="stylesheet" type="text/css" href="{{ bower_url_for(component='swiper', filename='dist/css/swiper.min.css') }}"  />
         
        <script>
        
            var playImage = "{{ url_for('static', filename='play.svg') }}";
    
        </script>
        
        <script type="text/javascript" src="{{ bower_url_for(component='jquery', filename='dist/jquery.min.js') }}"></script>     
        <script type="text/javascript" src="{{ bower_url_for(component='jquery.cookie', filename='jquery.cookie.js') }}"></script>     
        <script type="text/javascript" src="{{ bower_url_for(component='swiper', filename='dist/js/swiper.min.js') }}"></script>     

        <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>    
         
    </head>

    <body>
        <div class='main' style="width: 12%; height:12%; overflow:hidden;">
            <div style="position: absolute; overflow:hidden; top:0px; bottom:0px; left:0px; right:0px;">
                <img src="{{ url_for('static', filename='app-icon.png') }}" style="position:absolute; top:4px; left:5px;" alt="App"/>
                <div id='toolbar'>
                    <div style="position:absolute; top:16px; left:84px; font-weight:bold; font-size: 32px;  color:black"><label>X&nbsp;R&nbsp;A&nbsp;Y&nbsp;-&nbsp;A&nbsp;n&nbsp;a&nbsp;l&nbsp;y&nbsp;z&nbsp;e&nbsp;r</label></div>
                    <div id='layout'> 
                        <span class='tool'>
                            <button class='button' id="refresh" style="position:absolute; right:10px; margin-top:12px;">
                                <img src="{{ url_for('static', filename='refresh.svg') }}" style="padding-top:6px; margin:auto; width:16px; height:16px; text-align:center;" alt="Refresh"/>
                            </button>
                        </span>
                    </div>           
                </div>
                
                <div style='position:absolute; top:75px; left:10px; right:10px; bottom:260px; z-index: 1; border:3px solid #0174DF; overflow:auto; background-color:rgba(255, 255, 255, 0.3);'>
                    <div id='display' style="width:100%; display:none; overflow: hidden;">
                        <div id='tab' class='tab'>
                            <button class='tablinks' id='tab1' onclick="showTab(event, 'imageFrame', 'tab1')" value="Image">Analysis</button>
                        </div>
                        <div class='tabcontent' id='imageFrame' style="left:10px; right:10px; top:60px; bottom:10px; overflow:auto; opacity:0.9; position:absolute;">
                            <div id='image'>
                               <img id="imageContent" src=""></img>
                            </div>
                        </div>
                
                    </div>    
                </div>
                
                <div style="position:absolute; left:10px; right:0px; bottom:10px;">
                    <div style='position:absolute; left:0px; bottom:8px'>
                        <div id='droparea' style="left:10px; width:240px; height:230px;">
                            <div id='dropareainner'>
                                <p></p>
                                <p></p>
                                <img src="{{ url_for('static', filename='download.svg') }}" style='width:78px; height:78px'/>
                                <p></p>
                                <p id='dropfiletext'>Drop XRAYS here</p>
                                <p>or</p>
                                <p></p>
                                    <input class='uploadbtn' id='uploadbtn' type='button' value="Select File"/> 
                                <input id='upload' type='file' accept='*.jpg|*.png' multiple/>
                            </div>
                        </div>
                    </div>        
                </div>
                <div id='navigator' style='position:absolute; left:260px; right:8px; bottom:17px; height:218px; margin:2px; border:3px solid #0174DF; padding:5px;'>
                    <div class='swiper-container' id='swiper-container' style='right:0px; padding-bottom:40px;'>
                        <div id='swiper-wrapper' class='swiper-wrapper' style='height:160px; width:160px;'></div>
                        <div id='swiper-pagination' class='swiper-pagination' style='margin-top:0px'></div>
                    </div>
                </div>
             <div id='waitDialog' class='modal'>
                <div style="position:fixed; text-align: center; top:50%; left:48%; margin-left:0px; margin-top:-100px;">
                    <div class='loader'></div>
               </div>
               <div id='waitMessage' style="position:absolute; top:60%; color:rgba(0,0,0, 1.0); text-align: center; width:100%;"></div>
            </div> 
    </body>
</html>